.wgl-carousel {
  position: relative;
  z-index: 1; }
.wgl-carousel .slick-slider {
  display: block;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  -ms-touch-action: pan-y;
  touch-action: pan-y;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  overflow: hidden; }
.wgl-carousel .slick-list {
  display: block;
  position: relative;
  z-index: 1; }
.wgl-carousel .slick-track {
  position: relative;
  z-index: 1; }
.wgl-carousel .slick-track:after {
  content: '';
  display: table;
  clear: both; }
.wgl-carousel .slick-slide {
  float: left;
  height: 100%;
  min-height: 1px;
  cursor: pointer; }
.wgl-carousel .slick-slide.dragging img {
  pointer-events: none; }
.wgl-carousel .slick-loading .slick-track,.wgl-carousel .slick-loading .slick-slide {
  visibility: hidden; }
.wgl-carousel-wrapper,
.wgl-carousel_wrapper {
  overflow: hidden; }
.wgl-carousel .slick-arrow {
  top: 50%;
  margin-top: -30px;
  display: block;
  position: absolute;
  z-index: 100;
  border: unset;
  -webkit-border-radius: 0;
  -moz-border-radius: 0;
  border-radius: 0;
  padding: 0;
  font-size: 0;
  font-weight: 300;
  letter-spacing: 0;
  text-align: center;
  text-indent: 0;
  cursor: pointer;
  opacity: 1;
  background: transparent;
  width: 60px;
  background-size: 99%;
  background-repeat: no-repeat;
  -webkit-transition: 0.5s;
  -o-transition: 0.5s;
  -moz-transition: 0.5s;
  transition: 0.5s;
  right: auto;
  line-height: unset;
  height: 61px;
  -webkit-background-clip: padding-box;
  -moz-background-clip: padding-box;
  background-clip: padding-box; }
.wgl-carousel .slick-arrow:before, .wgl-carousel .slick-arrow:after {
  content: '';
  position: absolute;
  width: 10px;
  height: 10px;
  -webkit-transition: 0.4s;
  -o-transition: 0.4s;
  -moz-transition: 0.4s;
  transition: 0.4s;
  color: #ffffff;
}
.wgl-carousel .slick-arrow:hover,
.wgl-carousel .slick-arrow:focus {
  background-color: transparent;
}
.wgl-carousel .slick-prev {
  background-image: url('../img/back.png');
  left: 5px;
}
.wgl-carousel .slick-prev:before {
  bottom: 0;
  left: 0;
  border-bottom: 2px solid;
  -webkit-transform: rotate(-45deg);
  -moz-transform: rotate(-45deg);
  -ms-transform: rotate(-45deg);
  -o-transform: rotate(-45deg);
  transform: rotate(-45deg);
  -webkit-transform-origin: 0% 100%;
  -moz-transform-origin: 0% 100%;
  -ms-transform-origin: 0% 100%;
  -o-transform-origin: 0% 100%;
  transform-origin: 0% 100%; }
.wgl-carousel .slick-prev:after {
  top: 0;
  left: 0;
  border-top: 2px solid;
  -webkit-transform: rotate(45deg);
  -moz-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  -o-transform: rotate(45deg);
  transform: rotate(45deg);
  -webkit-transform-origin: 0% 0%;
  -moz-transform-origin: 0% 0%;
  -ms-transform-origin: 0% 0%;
  -o-transform-origin: 0% 0%;
  transform-origin: 0% 0%; }
.wgl-carousel .slick-prev:hover:before {
  width: 15px;
  -webkit-transform: rotate(-20deg);
  -moz-transform: rotate(-20deg);
  -ms-transform: rotate(-20deg);
  -o-transform: rotate(-20deg);
  transform: rotate(-20deg); }
.wgl-carousel .slick-prev:hover:after {
  width: 15px;
  -webkit-transform: rotate(20deg);
  -moz-transform: rotate(20deg);
  -ms-transform: rotate(20deg);
  -o-transform: rotate(20deg);
  transform: rotate(20deg); }
.wgl-carousel .slick-next {
  right: 5px;
  background-image: url('../img/next.png');
}
.wgl-carousel .slick-next:before {
  bottom: 0;
  right: 0;
  border-bottom: 2px solid;
  -webkit-transform: rotate(45deg);
  -moz-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  -o-transform: rotate(45deg);
  transform: rotate(45deg);
  -webkit-transform-origin: 100% 100%;
  -moz-transform-origin: 100% 100%;
  -ms-transform-origin: 100% 100%;
  -o-transform-origin: 100% 100%;
  transform-origin: 100% 100%; }
.wgl-carousel .slick-next:after {
  top: 0;
  right: 0;
  border-top: 2px solid;
  -webkit-transform: rotate(-45deg);
  -moz-transform: rotate(-45deg);
  -ms-transform: rotate(-45deg);
  -o-transform: rotate(-45deg);
  transform: rotate(-45deg);
  -webkit-transform-origin: 100% 0;
  -moz-transform-origin: 100% 0;
  -ms-transform-origin: 100% 0;
  -o-transform-origin: 100% 0;
  transform-origin: 100% 0; }
.wgl-carousel .slick-next:hover:before {
  -webkit-transform: rotate(20deg);
  -moz-transform: rotate(20deg);
  -ms-transform: rotate(20deg);
  -o-transform: rotate(20deg);
  transform: rotate(20deg);
  width: 15px; }
.wgl-carousel .slick-next:hover:after {
  -webkit-transform: rotate(-20deg);
  -moz-transform: rotate(-20deg);
  -ms-transform: rotate(-20deg);
  -o-transform: rotate(-20deg);
  transform: rotate(-20deg);
  width: 15px; }
.wgl-carousel:hover .slick-prev {
  -webkit-transform: translate(-5px, 0);
  -moz-transform: translate(-5px, 0);
  -ms-transform: translate(-5px, 0);
  -o-transform: translate(-5px, 0);
  transform: translate(-5px, 0); }
.wgl-carousel:hover .slick-next {
  -webkit-transform: translate(5px, 0);
  -moz-transform: translate(5px, 0);
  -ms-transform: translate(5px, 0);
  -o-transform: translate(5px, 0);
  transform: translate(5px, 0); }
.wgl-carousel .slick-prev:before,
.wgl-carousel .slick-prev:after,
.wgl-carousel .slick-next:before,
.wgl-carousel .slick-next:after {
  display: none;
}
.section-our-blog .post_meta-categories span {
  color: #666666;
  margin-bottom: 15px;
}
.section-our-blog .post_date {
  background-color: #B3000F;
}
.section-our-blog .post_date,
.section-our-blog .post_date span {
  font-family: 'Plumpfull Black';
  text-transform: none;
  font-weight: normal;
}
.section-our-blog .post_date {
  font-size: 14px;
  display: flex;
}
.section-our-blog .post_date span:first-child {
  order: 2;
}
.section-our-blog .post_date span:nth-child(2) {
  font-size: 24px;
}
.section-our-blog .button-read-more {
  font-size: 15px;
  color: #B3000F;
  text-transform: capitalize;
  position: absolute;
  line-height: 20px;
  font-weight: bold;
  bottom: 15px;
}

.section-our-blog .button-read-more::after {
  content: "";
  background: url('../img/icon-read-more.png');
  display: inline-block;
  margin-left: 8px;
  width: 9px;
  height: 9px;
}
.section-our-blog .button-read-more .read-more-arrow {
  display: none;
}
.section-our-blog .blog-style-standard .blog-post .post_date {
  background: #e60078;
  color: #fff;
  margin-left: auto;
  margin-top: -30px;
  margin-right: 20px;
}
.section-our-blog .blog-style-standard .blog-post .blog-post_wrapper {
  min-height: 375px;
}
/* Front page */
.frontpage-block-1 .groove-animation-1 img{
  max-width:50%;
}
.frontpage-block-1 .groove-animation-5 img{
  max-width:115px;
}

.frontpage-block-1 .groove-animation-4 img{
  max-width: 117px;
}
.frontpage-block-1 .groove-animation-2 img, .frontpage-block-1 .groove-animation-3 img{
  max-width:100%;
}
.frontpage-block-1 .groove-animation-5{
  right: -35px;
  top: -260px;
}
.frontpage-block-1 .groove-animation-7{
  right: 0;
  top: 80px;
}
.frontpage-block-1 .groove-animation-2{
  left: 0;
  top: 80px
}
.frontpage-block-1 .groove-animation-3{
  left: 35%;
  top: 130px;
}
.frontpage-block-1 .groove-animation-4{
  right: 30%;
  top: 120px;
}
.frontpage-block-1.groove-animation-3 {
  left: 49%;
  top: 40px;
}
.section-header-fronpage .groove-animation-1{
  top: -270px;
  left: -90px;
}
.groove-text-editor ul li{
  font-weight: bold;
}
.frontpage-block-8{
  padding-bottom: 0 !important;
}
.frontpage-block-8{
  align-items: flex-end;
}
.frontpage-block-4{
  padding-top:60px;
}
.section-header-fronpage{
  background-image: url(../../../uploads/2020/09/bg-block1-2.png);
  background-position: top center;
  background-repeat: no-repeat;
  background-size: cover;
}
.image-iso{
  max-width:153px;
  position: absolute;
  left: 20px;
  top: -180px;
  z-index: 2;
}
.image-homepath{
  position: absolute;
  right: -1px;
  bottom: -130px;
  z-index: 2;
}
.section-about-groove{
  margin-top:-100px;
}

.frontpage-block-3 .wgl-tabs_header{
  min-height: 175px;
  padding: 15px 10px;
  margin-left: 13px;
  margin-right: 13px;
}
.frontpage-block-3 .groove-text-editor{
  padding-top: 20px;
}
.frontpage-block-3 .groove-text-editor ul li{
  font-weight: 500 !important;
}
.frontpage-block-3{
  background-color: #FFFFFF;
  background-image: url(../../../../../groovetechnology.com/wp-content/uploads/2020/07/bg-block-3-2.png);
  background-position: top center;
  background-repeat: no-repeat;
  background-size: cover;
}
.frontpage-block-3 .wgl-tabs_header_wrap.active .wgl-tabs_header {
  color: #000000;
  background-color: #FFFFFF;
  border-style: solid;
  border-width: 1px 1px 1px 1px;
  border-color: #E60078;
}

.frontpage-block-3 .wgl-tabs_headings .wgl-tabs_header_wrap.active .wgl-tabs_header:after, .frontpage-block-3 .wgl-tabs_headings .wgl-tabs_header_wrap.active .wgl-tabs_header:before {
  content: '';
  display: block;
  position: absolute;
  bottom: 0;
  width: 0;
  height: 0;
  border-style: solid;
  z-index: -1;
  margin-left: -16px;
  border-radius: 0 0 5px 0;
}
.frontpage-block-3 .wgl-tabs_headings .wgl-tabs_header_wrap.active .wgl-tabs_header:before {
  left: 50%;
  border-color: #E60078 transparent transparent transparent;
  border-width: 17px;
  bottom: -34px;
  display: block;
}
.frontpage-block-3 .wgl-tabs_headings .wgl-tabs_header_wrap.active .wgl-tabs_header:after {
  left: calc(50% + 1px);
  border-color: #fff transparent transparent transparent;
  border-width: 16px;
  bottom: -32px;
  display: block;
}
.frontpage-block-3 .wgl-tabs_content{
  margin-top:0;
  padding-top: 30px;
  padding-bottom: 30px;
}
.frontpage-block-3 .wgl-tabs_header:hover {
  color: #000000;
  background-color: #FFFFFF;
  border-style: solid;
  border-width: 1px 1px 1px 1px;
  border-color: #E60078;
  box-shadow: 0px 0px 3px 0px rgb(0 0 0 / 50%);
}
.section-our-process .process-tabs_header_wrap1:hover, .section-our-process .process-tabs_header_wrap1.active {
  background-position: right center;
  background-position-x: right;
  background-position-y: center;
}
.section-our-process .process-tabs_header_wrap2:hover , .section-our-process .process-tabs_header_wrap2.active {
  background-position: left center;
  background-position-x: left;
  background-position-y: center;
}
.section-our-process .frontpage-wgl-tab:hover, .section-our-process .frontpage-wgl-tab.active {
  background-image: url(../img/bg-title.png);
  background-repeat: no-repeat;
}
.section-our-process .process-tabs_header_wrap1:hover, .section-our-process .process-tabs_header_wrap1.active{
  background-image: url(../../../uploads/2021/02/bg-title-1.png);
}
.section-our-process  .frontpage-wgl-tab.active .wgl-tabs_header .wgl-tabs_title{
  color: #E60078;
  background-color: rgba(0, 0, 0, 0);
}
.section-our-process .wgl-tabs_header {
  padding: 20px;
  margin: 0px 0px 0px 0px;
  color: #000000;
  background-color: rgba(0, 0, 0, 0);
  border-radius: 0px 0px 0px 0px;
  display: block;
  border:0;
}
.section-our-process .process-tabs_header1{
  margin-right: 30px;
}
.section-our-process .process-tabs_header2{
margin-left: 15px;
}
.section-our-process{
  background-color: #fff;
}
.process-tabs_header1{
  text-align: right;
}
.process-tabs_header2{
  text-align: left;
}
.section-our-process .wgl-tabs_header:hover .wgl-tabs_title{
  color: #E60078;
  background-color: rgba(0, 0, 0, 0);
}
.section-our-process .wgl-tabs_content{
  border:none !important;
}
.section-our-process .div-h3{
  margin-bottom: 20px;
}
.section-our-process h3{
  margin-bottom: 0;
}
.groove-paddingleft60 .groove-image{
  text-align: center;
}

.section-our-culture .groove-infobox-image img{ 
  max-width: 54px;
}
.section-our-culture .groove-infobox-image{
  justify-content: left;
  width: 20%;
}
.section-our-culture .groove-animation-1{
  top: -20px;
  left: 75px;
}
.section-our-culture .groove-animation-2{
  top: -21px;
  left: 77px;
}
.frontpage-block-6 .groove-col-33{
  padding:0 15px;
}
.frontpage-block-6 img {
  border-radius: 10px;
  object-fit: cover;
  height: 214px;
  width: 100%;
}

.section-our-blog .groove-col-33 .blog-post{
  padding: 10px 10px 40px;
}
.section-carrer .groove-info-box{
  padding: 20px 20px 20px 20px;
  position: relative;
  -webkit-transition: 0.5s;
  -o-transition: 0.5s;
  -moz-transition: 0.5s;
  transition: 0.5s;
  color: inherit;
  z-index: 1;
  background-color: #FFFFFF;
  border-radius: 6px 6px 6px 6px;
  box-shadow: 0px 3px 6px 0px #d6d6d6;
  margin-bottom: 30px;
}
.carrer-left-front{
top: 70px;
left: -100px;
z-index: 9;
}
.carrer-right2-front{
  top: 10px;
  right: -12px;
  z-index: 9;
}
.carrer-right1-front{
  top: 49px;
  right: -55px;
  z-index: 9;
}
.contact-front1{
  display: inline-block;
  position: absolute;
  padding: 0px 15px 0px 30px;
}
.contactform-margin{
  max-width: 750px;
  margin-left: auto;
}
.section-carrer .frontpage-button-container{
  margin-top:30px;
}
.groove-animation-6{
  z-index: 10;
}
.groove-animation-6 img{
  max-width: 100% !important;
}
.frontpage-block-8 .groove-row {
  align-items: flex-start;
}
.frontpage-block-4 .wgl-tabs_header_wrap{
  margin: 0 20px;
}
.frontpage-block-4 .wgl-tabs_content-wrap{
  min-height: 574px;
}
.groove-animation-10{
  position: absolute;
  top: -23px;
  left: -42px;
}
.groove-animation-10 img{
  width: 80%;
}
.home-border-1{
  position: absolute;
  padding: 0;
  left: 0;
  bottom: -200px;
  display: block !important;
  width: 150px;
  z-index: 9;
}
.home-border-2{
  position: absolute;
  padding: 0;
  right: -75px;
  top: -100px;
  display: block !important;
  width: 215px;
}
body.elementor-kit-57 input[type="submit"]{
  font-size: 15px !important;
}
.frontpage-block-4 .frontpage-button-container{
  margin-bottom: 85px;
  margin-top: -85px;
}
.frontpage-block-4 .wgl-tabs_content{
  margin-top:0 !important;
}
.frontpage-block-4 .groove-text-editor{
  padding-top: 40px;
}
.frontpage-block-7 .infobox-content-title{
  padding-left:15px;
}
.image-homepath{
  text-align: right;
}
.image-homepath img,  .contact-front1 img{
  width:80%;
}

.frontpage-block-4 .wgl-tabs_title{
  font-size: 15px !important;
}

.section-porfolio .frontpage-button-container{
  margin-top: 25px;
}
.section-our-blog .span-reading-time{
  position: absolute;
  bottom: 15px;
  right: 15px;
  display: flex;
  align-items: center;
}
.padding-block-8{
  padding-left: 35px;
}
.frontpage-block-7, .frontpage-block-8, .frontpage-block-1, .frontpage-block-2, .frontpage-block-3{
  background:#fff;
}
@media only screen and (min-width: 776px) {
  .swiper-slide-inner{
    margin:0 !important;
  }
  
  .swiper-container:hover .slick-next {
      -webkit-transform:  translate(5px, -25px);
      transform: translate(5px, -25px);
  }
  .swiper-container:hover  .slick-prev {
      -webkit-transform: translate(-5px, -25px);
      transform: translate(-5px, -25px);
  }
  .slick-arrow {
      position: absolute !important;
      width: 50px;
      height: 50px;
      -webkit-border-radius: unset;
      -moz-border-radius: unset;
      border-radius: unset;
      font-size: 20px;
      font-weight: 400;
      line-height: 50px;
      text-align: center;
      color: transparent !important;
      background: transparent;
      -webkit-transition: 0.4s;
      -o-transition: 0.4s;
      -moz-transition: 0.4s;
      transition: 0.4s;
      cursor: pointer;
      display: -webkit-inline-box;
      display: -ms-inline-flexbox;
      display: inline-flex;
      z-index: 1;
      color: hsla(0,0%,93.3%,.9);
      top: 50%;   
      -webkit-transform: translate3d(0,-50%,1px);
      transform: translate3d(0,-50%,1px);
      background-size: 50px;
      background-color: transparent !important;
  }
  .slick-arrow:hover{
      background-color: transparent !important;
  }
  .slick-prev {
      background: url(../img/back.png) no-repeat;
      background-size: 50px;
      left: 35px;
  }
  .slick-next {
      background: url(../img/next.png) no-repeat;
      background-size: 50px;
      right: 35px;
  }
  .slick-slide{
      padding:80px 0;
  }
  .slick-slide{
      opacity: 0.5;
  }
  .slick-active{
      opacity: 0.5;
  }
  .slick-current{
      opacity: 1;
      z-index: 9;
  }
  .slick-current img{
      transform: scale(1.5);
      transition: all 0.7s;
      z-index: 9;
      box-shadow: 2px 3px 6px 0px rgb(83 42 42 / 25%);
  }
  .slick-track .slick-active:first-child img, .slick-track .slick-active:last-child img{
      transform: scale(1.1);
      opacity: 0.5;
  }
  .swiper-slide-next {
      z-index: 9;
      opacity: 1;
  }
  .section-porfolio .lazyload,.section-porfolio .lazyloading {
      opacity: 1 !important;
  }
}
@media only screen and (max-width: 776px) {
  .padding-block-8{
    padding-left:0px;
  }
  .frontpage-block-3 .wgl-accordion .wgl-accordion_header{
    display: block;
  }
  .frontpage-block-3 .wgl-tabs_icon{
    display: block;
    margin: 0;
  }
  .groove-text-editor{
    padding-top:20px;
  }
  .frontpage-block-1{
    /*padding-top: 160px !important;*/
  }
  .frontpage-block-1 .groove-animation-1 img{
    max-width: 96px;
  }
  .frontpage-block-1 .groove-animation-1 {
    top: -300px;
    left: 45px;
  }
  .frontpage-block-1 .groove-animation-2 {
    top: -300px;
    max-width: 90px;
    left: 270px;
  }
  .frontpage-block-1 .groove-animation-2 img {
    max-width: 90px;
  }
  .frontpage-block-1 .groove-animation-5 img {
    max-width: 47px;
  }
  .frontpage-block-1 .groove-animation-5 {
    left: 50px;
    top: 45px;
  }
  .frontpage-block-1 .groove-animation-4 img {
    max-width: 64px;
  }
  .frontpage-block-1 .groove-animation-4 {
      right: 38px;
      top: 45px;
  }
  .section-about-groove{
    margin-top:0;
    padding-left: 0 !important;
    padding-right: 0 !important;
  }
  .about-groove-nth1 img{
    margin-left: -4px;
  }
  .about-groove-nth2{
    padding: 0 10px;
  }
  h1.frontpage-title{
    font-size: 50px !important;
    line-height: 60px !important;
  }
  h1.frontpage-title span{
    font-size: 50px !important;
    line-height: 60px !important;
  }
  .section-our-process .frontpage-wgl-tab:hover, .section-our-process .frontpage-wgl-tab.active {
    background-image: none;
  }
  .section-our-process .process-tabs_header_wrap1:hover, .section-our-process .process-tabs_header_wrap1.active{
    background-image: none;
  }
  .section-our-process .process-tabs_header_wrap1:hover .wgl-tabs_header, .section-our-process .process-tabs_header_wrap1.active .wgl-tabs_header, .section-our-process .process-tabs_header_wrap2:hover .wgl-tabs_header, .section-our-process .process-tabs_header_wrap2.active .wgl-tabs_header{
    border-bottom: solid 2px #E60078;
    transition: 0s;
  }
  .section-our-process .wgl-tabs_header{
    width: 170px;
    text-align: center;
  }
  .section-our-process .process-tabs_header1{
    margin-left: calc(100% - 170px);
  }
  .section-our-process .process-tabs_header2{
    margin-right: calc(100% - 170px);
  }
  .frontpage-block-7 img{
    width:auto;
  }
  .primary-image-mobile img{
    width: auto;
    margin: auto;
    display: flex;
  }
  .carrer-left-front {
    top: 0px;
    left: -65px;
  }
  .carrer-right1-front {
    top: 0;
    right: -5px;
  }
  .carrer-right2-front {
    top: 25px;
    right: 40px;
  }
  .section-carrer .groove-info-box{
    margin-bottom: 10px;
  }
  .frontpage-block-4 .wgl-tabs_content-wrap{
    min-height: auto;
  }
  .section-our-culture .groove-infobox-image{
    padding-left: 10px;
  }
  .section-carrer{
    margin-top: 30px;
  }
  .primary-image-mobile{
    padding: 15px 0;
  }
  .frontpage-block-4 .frontpage-button-container{
    margin-bottom: 50px;
    margin-top: 20px;
  }
  .culture-img-mobile{
    width: 80%;
    margin-left: 10%;
    padding: 20px 0;
  }
  .frontpage-block-8 .groove-image{
    margin-right: -10px;
  }
  .frontpage-block-4 .groove-text-editor{
    padding-top: 15px;
  }
  .section-our-process .process-tabs_header1{
    margin-right: auto;
  }
  .section-our-process .process-tabs_header2{
  margin-left: auto;
  }
  .section-our-culture .groove-infobox-image{
    width: 30%;
  }
  .section-our-culture.frontpage-block-5 {
    padding-top: 40px;
  }
}

@media only screen and (min-width: 776px) {
  .section-header-fronpage{
    /*padding-top: 170px !important;*/
  }
  .section-contact .groove-column.groove-col-50,.section-contact .groove-column[data-col="50"],.section-about-groove .groove-column.groove-col-50,.section-about-groove .groove-column[data-col="50"]{
    padding:0
  }
  .about-groove-nth2{
    padding: 50px 0px 0px 30px !important;;
  }
  .frontpage-block-3{
    padding: 30px 0px 0px 0px !important;
  }
  .contact-front2{
    padding-left:120px;
  }
  
}
@media (min-width: 776px) and (max-width: 1200px){
  .contact-front2{
    padding-left:30px;
  }
  .about-groove-nth2 {
    padding: 60px 0px 0px 30px !important;
  }
  .frontpage-block-1 .groove-animation-1 {
    top: -340px;
    left: 0;
  }
  .frontpage-block-1 .groove-animation-5 {
    right: 40px !important;
    top: -320px !important;
  }
  .section-header-fronpage .groove-animation-1 {
    top: -350px;
    left: 30px;
  }
}
  /*End*/
.porfolio-box-1{
margin-left: 50px;
}
.porfolio-box-2{
margin-right: 50px;
}
.btn-porfolio-home{
display: flex;
align-items: center;
width: 100%;
}
.porfolio-box-ctn{
display: flex;
align-items: center;
border: 1px solid #E8E9E9;
padding: 25px 30px !important;
border-radius: 8px;
}
.porfolio-box{
display: flex;
align-items: center;
width: calc(100% - 140px);
}
.porfolio-btn{
width: 140px;
text-align: center;
}
.porfolio-box-2 img{
width:94px !important;
}
.section-porfolio p{
margin:0;
color: #000000;
font-size: 15px;
line-height: 20px;
}
.section-porfolio .div-h3{
color: #000000;
}
.porfolio-box-ctn:hover p{
color:#E60078;
transition: all 0.5s;
}
.porfolio-box-ctn:hover{
cursor: pointer;
}
.porfolio-btn{
background: #E60078;
color: #fff;
padding: 8px 0;
border-radius: 5px;
font-size: 15px;
}
.porfolio-infobox-image{
margin-right:30px;
}
.section-porfolio{
background: #fff;
}
.porfolio-container{
padding: 30px 0 20px;
}
.case-all{
  position: absolute;
  top: 25px;
  display: flex;
  margin: auto;
  font-size: 16px;
  white-space: nowrap;
  margin-left: calc((100% - 470px) /2 );
  font-weight: bold;
  line-height: 30px;
  color: transparent;
}
.slick-center .case-all{
  color: #FFFFFF;
  transition: all 2.5s;
}
.img-case-all{
  padding: 0;
}
.slick-center .img-case-all{
  padding: 5px 0 10px;
}
.ctn-btn-case{
  position: absolute;
  line-height: 30px;
  width: 150px;
  text-align: center;
  color:transparent;
  background-color: transparent;
  border-radius: 8px;
  padding: 8px 0;
  margin-left: calc((100% - 277px) /2 );
}
.slick-center .ctn-btn-case{
  color: #fff;
  background-color: #ff0000;
  transition: all 2.5s;
}
.clutch-container  .clutch-image , .microsoft-container .microsoft-image {
  display: inline-block;
}
.clutch-image{

}
.clutch-logo{
  min-width: 294px;
}
.clutch-logo-image1{
  margin-bottom: 25px;
}
.clutch-logo-image2{
  margin-bottom: 15px;
}
.clutch-image1,.clutch-image2{
  margin-left: 15px;
}
.clutch-container{
  margin-top: 20px;
  display: flex;
  align-items: center;
}
.p-microsoft{
  font-size: 20px;
  color: #333333;
  line-height: 27px;
  position: absolute;
  width: 100%;
}
.microsoft-container1{
  display: flex;
  align-items: center;
  margin-top: 20px;
}
.microsoft-image{
  width: calc(100% - 298px);
  position: relative;
  padding-left: 15px;
}
.microsoft-country{
  bottom: 5px;
  position: absolute;
  margin: auto;
  width: 100%;
}
@media only screen and (max-width: 1025px) {
  .section-our-process .groove-image.groove-align-rightpc img{
    height: auto !important;
  }
  .section-our-process .max-width1170px .groove-image img{
    height: auto !important;
  }

}
@media screen and (max-width: 1024px) and (min-width: 876px){
  .porfolio-infobox-image img, .culture-img-mobile, .porfolio-box-2 img , .primary-image-mobile img , .section-carrer .groove-infobox-image img{
    height: auto !important;
  }
  .microsoft-container1  .groove-image img{
    width: 250px;
    height: 87px;
  }
  .microsoft-image{
    width: calc(100% - 250px);
    height: 87px;
  }
}
@media only screen and (max-width: 767px) {
  .clutch-container{
    display: block;
  }
  .case-all{
    margin: 0;
    font-size: 18px;
    text-align: center;
    width: 100%;
    display: block;
    color: #000000;
    top: 5px;
  }
  .ctn-btn-case{
    padding: 6px 0;
    margin-left: calc((100% - 150px) /2 );
    color: #fff;
    background-color: #ff0000 !important;
    display: block;
    position: relative;
    margin-top: -40px;
    line-height: 27px;
  }
  .porfolio-box-ctn{
    margin: 10px 0 20px;
    padding: 15px 0px !important;
  }
  .btn-porfolio-home{
    display: block;
  }
  .porfolio-box{
    display: block;
    width: 100%;
  }
  .porfolio-btn{
    margin: auto;
    margin-top: 15px;
  }
  .porfolio-infobox-image{
    margin-right:0;
    margin-bottom: 10px;
    text-align: center;
  }
  .porfolio-infobox-content{
    text-align: center;
  }
  .clutch-image img{
    margin: 0 15px;
  }
  .clutch-image{
    display: block;
    width: 100%;
    text-align: center;
    margin-top: 20px;
  }
  .microsoft-container1{
    display: block;
    position: relative;
    margin-top: 0;
  }
  .microsoft-container1 .groove-image{
    display: block;
    text-align: center;
  }
  .microsoft-container1 .microsoft-image{
    margin-top: 30px;
    width: 100%;
    margin-left: 0;
    border-left: none;
  }
  .frontpage-block-1 .groove-animation-7{
    left: 40%;
    bottom: 26px;
  }
  .section-our-blog .swiper-slide-inner{
    margin-inline-start: 0;
    margin-inline-end: 0;
  }

}
@media (min-width: 992px) and (max-width: 1200px) {
  .groove-animation-10{
    top: -27px;
    left: -27px;
  }
  .porfolio-box-2{
    margin-right: 20px;
  }
  .porfolio-box-1{
    margin-left: 20px;
  }
  .porfolio-box-ctn{
    padding: 25px 20px !important;
  }
  .porfolio-btn{
    width: 130px;
    margin-left: auto;
  }
  .frontpage-block-6 .groove-col-33{
    padding: 0 10px;
  }
  .microsoft-container1 .groove-image img{
    width: 260px !important;
    height: 87px !important;
  }
  
}