
body {
    font-family: 'Poppins', sans-serif !important;
    font-size: 17px;
    line-height: 1.412;
    font-weight: 400;
    color: #000000;
}
input:not([type=checkbox]):not([type=submit]), select, textarea, label, blockquote cite, #comments .commentlist .comment_info .meta-wrapper *, .meta-wrapper, .blog-post_info-wrap > .meta-wrapper *, .author-widget_text, .portfolio__custom-meta span, .blog-post.format-quote .blog-post_quote-author, .wgl_module_team .team-department, body .comment-form-cookies-consent > label, .widget_product_categories .post_count, .widget_meta .post_count, .widget_archive .post_count, .wgl-counter .wgl-counter_title, .elementor-widget-wgl-pricing-table .pricing_header .pricing_desc, .elementor-widget-wgl-time-line-vertical .time_line-content .time_line-text, .wgl-portfolio-single_wrapper .wgl-portfolio-item_cats, .wgl-working-hours .working-item .working-item_day, .wgl-working-hours .working-item .working-item_hours, .post_meta-categories a, .wgl-tabs_title, .prev-link_wrapper .info_wrapper .prev_title, .prev-link_wrapper .info_wrapper .next_title, .next-link_wrapper .info_wrapper .prev_title, .next-link_wrapper .info_wrapper .next_title, .portfolio__custom-meta h5, .page_404_wrapper .zikzag_404__link {
    font-family: 'Poppins', sans-serif !important;
}

.elementor-widget-wgl-time-line-vertical .time_line-content .time_line-text {
    font-weight: 400;
}

::placeholder, select, body .footer .select__field:before, .widget_rss .rssSummary, .header_search.search_standard .header_search-field .search-field, .search-no-results .page_404_wrapper .search-form .search-field, .blog-post.format-quote .blog-post_quote-author-pos, .wgl_module_team .team-department, .blog-style-hero .blog-post.format-standard .blog-post_text, .blog-style-hero .blog-post.format-link .blog-post_text, .blog-style-hero .blog-post.format-audio .blog-post_text, .blog-style-hero .blog-post.format-quote .blog-post_text, .tagcloud a, .wp-block-tag-cloud a {
    color: #000000;
}

.single_meta .single_info-share_social-wpapper > span.share_title, .single_info-share_social-wpapper > span {
    font-family: 'Poppins', sans-serif !important;
    color: #000000;
}

h1, h2, h3, h4, h5, h6, h1 span, h2 span, h3 span, h4 span, h5 span, h6 span, h1 a, h2 a, h3 a, h4 a, h5 a, h6 a, body ol > li:before, .blog-post_cats, .blog-posts .blog-post_title, .column1 .item_title a, .zikzag_twitter .twitt_title, .tagcloud-wrapper .title_tags, .strip_template .strip-item a span, .single_team_page .team-single_speaches-info .speech-info_desc span, .shortcode_tab_item_title, .index_number, .primary-nav.footer-menu .menu-item a {
    font-family: 'Poppins', sans-serif !important;
    font-weight: 700;
}

.theme-header-font, legend, .widget .widget-title, .banner_404, .blog-post_text-bg, .author-info_content .author-info_name, .comments-title .number-comments, .post_meta-categories, .wgl-pricing_plan .pricing_price .price_decimal, .mashsb-count .counts, .mashsb-box .mashsb-buttons a .text, .prev-link, .next-link, .heading_subtitle, .info_prev-link_wrapper a, .info_next-link_wrapper a, .single_team_page .team-single_speaches-info .speech-info_day, .wgl-portfolio-item_cats, body .comment-respond .comment-reply-title, .page-header_title, [class|=dropcap], .elementor-drop-cap, .elementor-counter, .wgl-counter .wgl-counter_value-wrap, .post_date span {
    font-family: 'Poppins', sans-serif !important;
}

blockquote, .banner_404, .author-info_public, .wgl-portfolio-single_item .tagcloud .tagcloud_desc, .wgl-portfolio-single_item .single_info-share_social-wpapper .share_title {
    font-family: 'Poppins', sans-serif !important;
    color: #000000;
}

.countdown-section .countdown-amount, .wgl-infobox_bg_title, .wgl-background-text, .elementor-section.wgl-add-background-text:before {
    font-family: 'Poppins', sans-serif !important;
    font-weight: 700;
}

.theme-header-color, body .footer select option, button, h1, h2, h3, h4, h5, h6, h1 span, h2 span, h3 span, h4 span, h5 span, h6 span, h1 a, h2 a, h3 a, h4 a, h5 a, h6 a, .blog-style-hero .blog-post_title a, .blog-post_title a:hover, h3#reply-title a, .calendar_wrap tbody, .comment_author_says, .comment_author_says a, .search-field, .share_post-container:hover > a, .wgl-pagination .page .current, .wgl-pagination .page .prev, .wgl-pagination .page .next, .wgl-pagination .page-numbers:hover, .page-link .post-page-numbers, .share_post-container .share_post, .tagcloud-wrapper .title_tags, .wgl-pricing_plan .pricing_plan_wrap .pricing_content > ul > li > b, .prev-link-info_wrapper, .next-link-info_wrapper, .item_title a, .coming-soon_form .wpcf7 .wpcf7-submit:hover, .wpcf7 .dark-form .wpcf7-submit:hover, .wpcf7 .dark-form ~ * .wpcf7-submit:hover, .wgl_module_title.item_title .carousel_arrows a span:after, .wgl_module_team.info_under_image .team-department, .wgl-portfolio-item_wrapper .portfolio_link, ul.wp-block-archives.wp-block-archives-list li a, ul.wp-block-categories.wp-block-categories-list li a, ul.wp-block-latest-posts li a, .blog-style-hero .blog-post.format-standard .blog-post_title a, .blog-style-hero .blog-post.format-link .blog-post_title a, .blog-style-hero .blog-post.format-audio .blog-post_title a, .blog-style-hero .blog-post.format-quote .blog-post_title a, .wgl-pagination .page-numbers, .wgl-button, .author-info_social-wrapper .author-info_social-link.fa, .page_404_wrapper .search-form:after, .wgl-portfolio-single_wrapper .portfolio__item-meta > span:after, .portfolio__see-more i, .wgl-header-row-section_top a:hover, .header_search.search_standard .header_search-field .search-form:after, .single_info-share_social-wpapper .share_social-title, .load_more_item {
    color: #000000;
}

.author-widget_social a, .widget ul li, .widget ul li a, ul.recent-posts-widget .post_title a, .widget .widget-title .widget-title_wrapper, .widget_search .search-form:after, .widget_search .woocommerce-product-search:after, .widget_product_search .search-form:after, .widget_product_search .woocommerce-product-search:after, .widget_product_search .woocommerce-product-search:after, .widget .banner-widget_button {
    color: #000000;
}

.wgl-portfolio-item_wrapper.gallery_type:hover .overlay {
    background-color: rgba(0, 0, 0, 0.6);
}

.primary-nav > div > ul, .primary-nav > ul, .sitepress_container > .wpml-ls li, .primary-nav ul li.mega-menu-links > ul > li {
    font-family: 'Poppins', sans-serif !important;
    font-weight: 400;
    line-height: 30px;
    font-size: 18px;
}

.primary-nav ul li ul, .wpml-ls, .sitepress_container > .wpml-ls ul ul li, .primary-nav ul li div.mega-menu-container {
    font-family: 'Poppins', sans-serif !important;
    font-weight: 400;
    line-height: 30px;
    font-size: 17px;
}

.wgl-theme-header .header_search-field, .primary-nav ul li ul, .primary-nav ul li div.mega-menu-container, .wgl-theme-header .woo_mini_cart, .wpml-ls-legacy-dropdown .wpml-ls-current-language .wpml-ls-sub-menu {
    background-color: rgba(17, 146, 235, 1);
    color: #ffffff;
}

.mobile_nav_wrapper, .wgl-menu_outer, .wgl-menu_outer .mobile-hamburger-close, .mobile_nav_wrapper .primary-nav ul li ul.sub-menu, .mobile_nav_wrapper .primary-nav ul li.mega-menu-links > ul.mega-menu > li > ul > li ul, .mobile_nav_wrapper .primary-nav ul li.mega-menu-links > ul.mega-menu > li > ul {
    background-color: rgba(250, 250, 250, 1);
    color: #000000;
}

.mobile_nav_wrapper .wgl-menu_overlay {
    background-color: rgba(250, 250, 250, 1);
}

#side-panel .side-panel_sidebar .widget .widget-title .widget-title_wrapper {
    color: rgba(35, 35, 35, 1);
}

.theme-primary-color, a, a:hover .wgl-icon, .wgl-icon:hover, body ol > li:before, button, button:focus, button:active, h3#reply-title a:hover, ul li:before, ul.zikzag_check li:before, header.searсh-header .page-title span, #comments .commentlist .comment_info .meta-wrapper .comment-edit-link, .author-info_social-wrapper, .blog-post_link:before, .blog-post_title i, .blog-style-standard .blog-post:hover .blog-post_wrapper .blog-post_meta_info .meta-wrapper span, .blog-post_link > .link_post:hover, .blog-post.format-standard.link .blog-post_title:before, .calendar_wrap thead, .wp-block-calendar table thead, .copyright a:hover, .comment_author_says a:hover, #comments .comment-reply-link, .zikzag_submit_wrapper:hover > i, .zikzag_custom_button i, .zikzag_custom_text a, .zikzag_twitter a, .load_more_works:hover, .header_search .header_search-button > i:hover, .header_search-field .search-form:after, .mc_form_inside #mc_signup_submit:hover, .share_link span.fa:hover, .share_post span.fa:hover, .share_post-container, .wgl-likes .sl-icon.unliked, .wgl-likes .sl-button:hover, .wgl-portfolio-single_item .wgl-likes .sl-icon.unliked, .blog-post.format-link .blog-post_link .link_post:before, .single_team_page .team-single_speaches-info .speech-info_desc span, .single_team_page .team-info_wrapper .team-info_item a:hover, .single-member-page .member-icon:hover, .single-member-page .team-link:hover, .single_team_page .team-single_speaches-info .speech-info_day, .single_team_page .team__icons a:hover, .single-team .single_team_page .team-info_item.team-department span, .team-icons .member-icon:hover, .wpml-ls a:hover, .wpml-ls-legacy-dropdown .wpml-ls-current-language:hover > a, .wpml-ls-legacy-dropdown .wpml-ls-current-language a:hover, .isotope-filter a:after, .single_type-1 .single_meta .post_author a:hover, .single_type-2 .single_meta .post_author a:hover, .meta-wrapper a:hover, .inside_image.sub_layer_animation .post_cats a, .inside_image.sub_layer_animation .post_cats span, ul.wp-block-archives.wp-block-archives-list li a:hover, ul.wp-block-categories.wp-block-categories-list li a:hover, ul.wp-block-categories.wp-block-categories-list li a:hover + .post_count, ul.wp-block-latest-posts li a:hover, .portfolio__custom-annotation .single_info-share_social-wpapper .share_link:hover .fa, .author-info_social-wrapper .author-info_social-link.fa:hover, .format-quote .blog-post_wrapper .blog-post_media_part:before, .blog-post.format-quote .blog-post_quote-author {
    color: #000000;
}

.wgl-portfolio-item_wrapper .portfolio_link-icon:hover, .wgl-portfolio-item_cats, .wgl-portfolio-single_wrapper .portfolio__item-meta span a:hover, .wgl_module_team .team-item_info .team__icons .team-icon a:hover, .wgl_module_team .team__icons a.team-icon.fa:hover, .under_image .portfolio__item-title .title:hover a, .inside_image.sub_layer_animation .portfolio__item-meta, .wgl-portfolio_container .wgl-carousel.arrows_center_mode .slick-prev:hover:after, .wgl-portfolio_container .wgl-carousel.arrows_center_mode .slick-next:hover:after, .inside_image .portfolio__item-meta, .wgl-portfolio-single_wrapper .wgl-portfolio-item_cats a:hover, .wgl-services-2 .wgl-services_media-wrap .elementor-icon, .elementor-widget.divider_yes .wgl-infobox_title:before, .post_meta-categories a:hover, .button-read-more:hover, .isotope-filter a .number_filter {
    color: #000000;
}

.widget_rss ul li .rsswidget:hover, .widget_recent_entriesul li .post-date, .widget_meta ul li .post_count, .widget_archive ul li > a:before, .widget .widget-title .widget-title_wrapper:before, .widget_nav_menu .current-menu-ancestor > a, .widget_nav_menu .current-menu-item > a, s.widget_product_categories a:hover + .post_count, .widget_meta a:hover + .post_count, .widget_archive a:hover + .post_count, ul.recent-posts-widget li > .recent-posts-content .post_title a:hover, .recent-posts-widget .meta-wrapper a, .widget ul li a:hover, .widget.zikzag_widget.zikzag_banner-widget .banner-widget_text .tags_title:after, .author-widget_social a:hover, .widget.widget_recent_comments ul li span.comment-author-link a:hover, .zikzag_author-widget .author-widget_social a, .widget_categories ul li a:before, .widget_product_categories ul li a:before {
    color: #000000;
}

.wgl-video_popup .videobox_link {
    fill: #000000;
}

blockquote:before, ul li:before, ul.zikzag_plus li:after, ul.zikzag_plus li:before, ul.zikzag_hyphen li:before, ul.zikzag_dot li:before, #multiscroll-nav span, #multiscroll-nav li .active span, .dropcap-bg.secondary, .button-read-more:before, .button-read-more:after, .single_team_page .team-title:before, .blog-style-hero .btn-read-more .blog-post-read-more, .blog-style-hero .blog-post .wgl-video_popup, .blog-style-hero .blog-post .wgl-video_popup .videobox_link, .wpml-ls-legacy-dropdown .wpml-ls-sub-menu .wpml-ls-item a span:before, ul.wp-block-categories.wp-block-categories-list li a:hover:after, .wpcf7 .demo-1-form .wpcf7-submit, .post_date, .button-read-more .read-more-arrow, .inside_image.simple_animation .portfolio__description .portfolio__item-title, .hover_links a:before, .hover_links a:after, .primary-nav > ul > li > a:before, .primary-nav > ul > li > a:after, .wgl-portfolio__item-info .portfolio__custom-meta h5:before {
    background: #000000;
}

#comments > h3:after, button:hover, mark, span.highlighter, .header_search .header_search-field .header_search-button-wrapper, .header_search.search_mobile_menu .header_search-field .search-form:after, .wgl-theme-header .wgl-button, .button__wrapper, .sitepress_container > .wpml-ls ul ul li a:hover:after, .blog-style-hero .blog-post-hero_wrapper .divider_post_info, .button__wrapper:hover:after, .calendar_wrap caption, .wp-block-calendar table caption, .comment-reply-title:after, .zikzag_module_title:after, .zikzag_module_title .carousel_arrows a:hover span, .load_more_works, .mc_form_inside #mc_signup_submit, .wgl-ellipsis span, .wgl_module_title.item_title .carousel_arrows a:hover, .wgl_module_team .team-meta_info .line, .single-team .single_team_page .team-info_item.team-department:before, .wgl-portfolio_item_link:hover, .elementor-slick-slider .slick-slider .slick-prev:hover, .elementor-slick-slider .slick-slider .slick-next:hover, .elementor-slick-slider .slick-slider .slick-prev:focus, .elementor-slick-slider .slick-slider .slick-next:focus, .single-team .single_team_page .team__icons .team-icon:hover, .zikzag_author-widget .author-widget_social a:hover, .sub-menu span.submenu-label {
    background-color: #000000;
}

.dropcap-bg:not(.secondary), .theme-secondary-color, body .comment-respond .comment-form a, blockquote cite a, ul.zikzag_check.secondary li:before, .blog-post_link:before, .isotope-filter a:hover, .isotope-filter a.active, .wgl_module_team .team-icon a, .zikzag_widget > ul > li:before, ul.wp-block-archives.wp-block-archives-list li:before, .widget_categories ul li a:hover, .widget_product_categories ul li a:hover {
    color: #000000;
}

.primary-nav > ul > li:hover > a:before, .primary-nav > ul > li:hover > a:after, .primary-nav ul li ul .menu-item:hover > a:before, .primary-nav ul li ul .menu-item:hover > a:after, .primary-nav > ul .menu-item.current-menu-item > a:before, .primary-nav > ul .menu-item.current-menu-item > a:after, .primary-nav > ul .menu-item.current_page_item > a:before, .primary-nav > ul .menu-item.current_page_item > a:after, .primary-nav > ul > li.current-menu-ancestor > a:before, .primary-nav > ul > li.current-menu-ancestor > a:after, .primary-nav > ul > li.current_page_ancestor > a:before, .primary-nav > ul > li.current_page_ancestor > a:after, .primary-nav > ul > li.current-menu-parent > a:before, .primary-nav > ul > li.current-menu-parent > a:after, .primary-nav > ul > li.current_page_parent > a:before, .primary-nav > ul > li.current_page_parent > a:after, .mobile_nav_wrapper .primary-nav ul li ul .menu-item.current-menu-item > a, .mobile_nav_wrapper .primary-nav ul ul li.menu-item.current-menu-ancestor > a, .mobile_nav_wrapper .primary-nav > ul > li.current-menu-item > a, .mobile_nav_wrapper .primary-nav > ul > li.current_page_item > a, .mobile_nav_wrapper .primary-nav > ul > li.current-menu-parent > a, .mobile_nav_wrapper .primary-nav > ul > li.current-menu-ancestor > a, .mobile_nav_wrapper .primary-nav > ul > li.current_page_parent > a, .mobile_nav_wrapper .primary-nav > ul > li.current_page_ancestor > a {
    color: #000000;
}

.primary-nav ul li.mega-menu.mega-cat div.mega-menu-container ul.mega-menu.cats-horizontal > li.is-active > a, .primary-nav > ul > li > a > span:after, .mobile_nav_wrapper .primary-nav > ul > li > a > span:after, .primary-nav ul li ul li > a > span:first-child:before, .primary-nav ul li ul li > a > span:first-child:after, .wpcf7 .demo-1-form .wpcf7-submit:hover {
    background: #000000;
}

.widget .widget-title:before, ul.zikzag_dot.secondary li:before, ul.zikzag_hyphen.secondary li:before, ul.zikzag_plus.secondary li:after, ul.zikzag_plus.secondary li:before, span.highlighter.secondary, .search-button:hover + .search__icon, .wgl-theme-header .lavalamp-object, .next-link_wrapper a, .wgl_module_team .team__icons:hover .team__icons-plus, .wgl_module_team .team__icons-plus:before, .wgl_module_team .team__icons-plus:after, .elementor-slick-slider .slick-slider .slick-next, .elementor-slick-slider .slick-slider .slick-prev, .footer .wpcf7 .footer-submit:hover:before, .zikzag_banner-widget .banner-widget_button .button-read-more {
    background: #000000;
}

.page_404_wrapper .zikzag_404__link, .wgl-demo-item .wgl-button {
    background: #000000;
    border-color: #000000;
}

aside > .widget + .widget:before, .widget_meta ul li a:hover:after, .widget_archive ul li a:hover:after, .widget_archive ul li a:before, .widget .calendar_wrap table td#today:before, .widget .calendar_wrap tbody td > a:before, .wp-block-calendar table td#today:before, .wp-block-calendar tbody td > a:before, .widget .counter_posts, .widget.widget_pages ul li a:before, .widget.widget_nav_menu ul li a:before, .widget_nav_menu .menu .menu-item:before, .widget_postshero .recent-posts-widget .post_cat a, .widget_meta ul li > a:before, .widget_archive ul li > a:before {
    background-color: #000000;
}

.blog-post.format-quote .blog-post_quote-icon svg .st0, .quote_icon_svg svg .st0 {
    fill: #000000;
}

#comments .form-submit input[type="submit"], .wpcf7 .wpcf7-submit, .load_more_item:hover, .wgl-carousel.navigation_offset_element .slick-prev:hover, .wgl-carousel.navigation_offset_element .slick-next:hover, .prev-link:hover, .next-link:hover, .wpcf7 .call_to_action_1 .wgl_col-2 .wpcf7-submit:hover, .coming-soon_form .wpcf7 .wpcf7-submit, form.post-password-form input[type='submit'], .wgl-demo-item .wgl-button:hover {
    border-color: #000000;
    background: #000000;
}

.header_search, .blog-post.format-link .blog-post_link .link_post, .blog-style-hero .format-no_featured .blog-post-hero_wrapper, .blog-style-hero .format-quote .blog-post-hero_wrapper, .blog-style-hero .format-audio .blog-post-hero_wrapper, .blog-style-hero .format-link .blog-post-hero_wrapper, .zikzag_module_title .carousel_arrows a:hover span:before, .load_more_works, .author-info_social-link:after, .author-widget_social a span, .single_info-share_social-wpapper .share_link .share-icon_animation, .inside_image.offset_animation:before, .wpcf7 .call_to_action_1 .wgl_col-2 .wpcf7-submit, .wgl-portfolio_item_link, .button-read-more .read-more-arrow:before, .button-read-more .read-more-arrow:after, .load_more_item {
    border-color: #000000;
}

#scroll_up {
    color: #000000;
}

#scroll_up .scroll_up-arrow {
    background-color: #000000;
}

#scroll_up .scroll_up-arrow:before, #scroll_up .scroll_up-arrow:after {
    border-color: #000000;
}

.search__icon, .widget_search .search-form:hover:after, .widget_search .woocommerce-product-search:hover:after, .widget_product_search .search-form:hover:after, .widget_product_search .woocommerce-product-search:hover:after, .zikzag_banner-widget .banner-widget_link:hover ~ .banner-widget_button .button-read-more, .wgl-theme-header .wgl-button, .zikzag_module_title .carousel_arrows a span, .page_404_wrapper .search-form:hover:after, .wgl-pagination .page-numbers.current, .page-link .post-page-numbers.current, .wgl-accordion-services .wgl-services_icon-wrap:before, .tagcloud a:hover, .wp-block-tag-cloud a:hover, input[type='submit'], button, form.post-password-form input[type='submit']:hover, #comments .form-submit input[type="submit"]:hover, .inside_image.simple_animation .portfolio__description .portfolio__item-meta, .wpcf7 .wpcf7-submit:hover, .wgl-portfolio__item-info {
    background: #000000;
}

.slick-dots li button, .wgl-carousel .slick-dots li button:before, .prev-link_wrapper a, .single-team .single_team_page .team-title_wrapper, .page_404_wrapper .zikzag_404__link:hover, .wgl-likes:hover, .wgl-portfolio-single_item .wgl-likes {
    background-color: #000000;
}

.zikzag_module_title .carousel_arrows a span:before, .wgl-pagination .page-numbers:hover, .wgl-pagination .page span.current, .page-link .post-page-numbers:hover, .page-link .post-page-numbers.current, .wgl-pricing_plan .pricing_highlighter, .wgl-carousel.pagination_circle_border .slick-dots li.slick-active button, .wgl-carousel.pagination_square_border .slick-dots li.slick-active button {
    border-color: #000000;
}

ul.secondary li:before {
    color: #000000;
}

.footer_top-area .widget.widget_archive ul li > a:hover, .footer_top-area .widget.widget_categories ul li > a:hover, .footer_top-area .widget.widget_pages ul li > a:hover, .footer_top-area .widget.widget_meta ul li > a:hover, .footer_top-area .widget.widget_recent_comments ul li > a:hover, .footer_top-area .widget.widget_recent_entries ul li > a:hover, .footer_top-area .widget.widget_nav_menu ul li > a:hover, .footer_top-area .widget.widget_wgl_posts .recent-posts-widget li > .recent-posts-content .post_title a:hover {
    color: #000000;
}

.footer ul li:before, .footer_top-area a:hover {
    color: #000000;
}

.footer_top-area .widget.widget_tag_cloud .tagcloud a:hover {
    background-color: #000000;
}

.footer_top-area .widget-title, .footer_top-area .widget_rss ul li .rsswidget, .footer_top-area .widget.widget_pages ul li a, .footer_top-area .widget.widget_nav_menu ul li a, .footer_top-area .widget.widget_wgl_posts .recent-posts-widget li > .recent-posts-content .post_title a, .footer_top-area .widget.widget_archive ul li > a, .footer_top-area .widget.widget_categories ul li > a, .footer_top-area .widget.widget_pages ul li > a, .footer_top-area .widget.widget_meta ul li > a, .footer_top-area .widget.widget_recent_comments ul li > a, .footer_top-area .widget.widget_recent_entries ul li > a, .footer_top-area .widget.widget_archive ul li:before, .footer_top-area .widget.widget_meta ul li:before, .footer_top-area .widget.widget_categories ul li:before, .footer_top-area .widget.widget_recent_comments ul li:before, .footer_top-area .widget.widget_recent_entries ul li:before, .footer_top-area .widget.widget_tag_cloud .tagcloud a:hover, .footer_top-area strong, .footer_top-area h1, .footer_top-area h2, .footer_top-area h3, .footer_top-area h4, .footer_top-area h5, .footer_top-area h6 {
    color: #000000;
}

.footer_top-area {
    color: #000000;
}

.footer_top-area .widget.widget_archive ul li:after, .footer_top-area .widget.widget_pages ul li:after, .footer_top-area .widget.widget_meta ul li:after, .footer_top-area .widget.widget_recent_comments ul li:after, .footer_top-area .widget.widget_recent_entries ul li:after, .footer_top-area .widget.widget_nav_menu ul li:after, .footer_top-area .widget.widget_categories ul li:after {
    background-color: #000000;
}

.footer .copyright {
    color: #666666;
}

.footer .wpcf7 form > p:last-of-type:after {
    background-color: #000000;
}

body {
    font-family: 'Poppins', sans-serif !important;
}

ol.commentlist:after {
}

h1, h1 a, h1 span {
    font-family: 'Poppins', sans-serif !important;
    font-weight: 600;
    font-size: 36px;
    line-height: 36px;
}

h2, h2 a, h2 span {
    font-family: 'Poppins', sans-serif !important;
    font-weight: 600;
    font-size: 30px;
    line-height: 36px;
}

h3, h3 a, h3 span {
    font-family: 'Poppins', sans-serif !important;
    font-weight: 600;
    font-size: 22px;
    line-height: 30px;
}

h4, h4 a, h4 span {
    font-family: 'Poppins', sans-serif !important;
    font-weight: 600;
    font-size: 20px;
    line-height: 26px;
}

h5, h5 a, h5 span {
    font-family: 'Poppins', sans-serif !important;
    font-weight: 700;
    font-size: 17px;
    line-height: 24px;
}

h6, h6 a, h6 span {
    font-family: 'Poppins', sans-serif !important;
    font-weight: 700;
    font-size: 17px;
    line-height: 24px;
}

@media only screen and (max-width: 768px) {
    .wgl-theme-header .wgl-mobile-header {
        display: block;
    }

    .wgl-theme-header .wgl-mobile-header.sticky_active {
        position: fixed;
        width: 100%;
    }

    .wgl-site-header, .wgl-theme-header .primary-nav {
        display: none;
    }

    .wgl-theme-header .mobile-hamburger-toggle {
        display: inline-block;
    }

    header.wgl-theme-header .mobile_nav_wrapper .primary-nav {
        display: block;
    }

    .wgl-theme-header .wgl-sticky-header {
        display: none;
    }
}

@media only screen and (max-width: 768px) {
    body .wgl-theme-header.header_overlap {
        position: relative;
        z-index: 2;
    }
}

@media only screen and (max-width: 768px) {
    body .wgl-theme-header, body .wgl-theme-header.header_overlap {
        position: sticky;
    }

    .admin-bar .wgl-theme-header {
        top: 32px;
    }
}

@media only screen and (max-width: 768px) {
    .page-header {
        padding-top: 15px !important;
        padding-bottom: 15px !important;
        height: 50px !important;
    }

    .page-header_content .page-header_title {
        color: #000000 !important;
        font-size: 24px !important;
        line-height: 30px !important;
    }

    .page-header_content .page-header_breadcrumbs {
        color: #666666 !important;
        font-size: 15px !important;
        line-height: 24px !important;
    }
}

.theme-gradient input[type="submit"] {
    background-color: #000000;
}

body.elementor-page main .wgl-container.wgl-content-sidebar, body.elementor-editor-active main .wgl-container.wgl-content-sidebar, body.elementor-editor-preview main .wgl-container.wgl-content-sidebar {
    max-width: 1140px;
    margin-left: auto;
    margin-right: auto;
}

body.single main .wgl-container {
    max-width: 1140px;
    margin-left: auto;
    margin-right: auto;
}